## 1. Introduction
<p>Everyone loves Lego (unless you ever stepped on one). Did you know by the way that "Lego" was derived from the Danish phrase leg godt, which means "play well"? Unless you speak Danish, probably not. </p>
<p>In this project, we will analyze a fascinating dataset on every single lego block that has ever been built!</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/production/project_10/datasets/lego-bricks.jpeg" alt="lego"></p>

In [117]:
# Nothing to do here

## 2. Reading Data
<p>A comprehensive database of lego blocks is provided by <a href="https://rebrickable.com/downloads/">Rebrickable</a>. The data is available as csv files and the schema is shown below.</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/production/project_10/datasets/downloads_schema.png" alt="schema"></p>
<p>Let us start by reading in the colors data to get a sense of the diversity of lego sets!</p>

In [119]:
# Import modules
import pandas as pd

# Read colors data
colors = pd.read_csv('datasets/colors.csv')

# Print the first few rows
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

## 3. Exploring Colors
<p>Now that we have read the <code>colors</code> data, we can start exploring it! Let us start by understanding the number of colors available.</p>

In [121]:
# How many distinct colors are available?
# -- YOUR CODE FOR TASK 3 --
num_colors = colors['name'].nunique()
num_colors

135

## 4. Transparent Colors in Lego Sets
<p>The <code>colors</code> data has a column named <code>is_trans</code> that indicates whether a color is transparent or not. It would be interesting to explore the distribution of transparent vs. non-transparent colors.</p>

In [123]:
# colors_summary: Distribution of colors based on transparency
# -- YOUR CODE FOR TASK 4 --
colors_summary  = colors.groupby('is_trans').count()
colors_summary

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

## 5. Explore Lego Sets
<p>Another interesting dataset available in this database is the <code>sets</code> data. It contains a comprehensive list of sets over the years and the number of parts that each of these sets contained. </p>
<p><img src="https://imgur.com/1k4PoXs.png" alt="sets_data"></p>
<p>Let us use this data to explore how the average number of parts in Lego sets has varied over the years.</p>

In [125]:
%matplotlib inline
# Read sets data as `sets`
sets = pd.read_csv("datasets/sets.csv")
sets.head()
# Create a summary of average number of parts by year: `parts_by_year`
parts_by_year = sets.groupby('year').aggregate({'num_parts': 'mean'})
# Plot trends in average number of parts by year
parts_by_year

       num_parts
year
1950   10.142857
1953   16.500000
1954   12.357143
1955   36.857143
1956   18.500000
1957   42.619048
1958   44.452381
1959   16.250000
1960  175.333333
1961   70.588235
1962   81.750000
1963   33.333333
1964   82.636364
1965  107.100000
1966   40.651685
1967   98.666667
1968  127.200000
1969   64.594203
1970   84.793103
1971   67.022222
1972  102.842105
1973  103.367647
1974  116.769231
1975  155.225806
1976  153.029412
1977   91.500000
1978  146.616438
1979  105.414634
1980  126.636364
1981   97.835443
...          ...
1988  144.250000
1989  102.061404
1990  202.035294
1991  166.424528
1992  119.617391
1993  148.432432
1994  127.640625
1995  179.039062
1996  201.770833
1997  129.221649
1998  141.126154
1999  105.543333
2000  104.376147
2001  104.365782
2002  115.700224
2003  159.681928
2004  138.862534
2005  198.745455
2006  246.904594
2007  229.025078
2008  231.644699
2009  196.898263
2010  210.646396
2011  160.452191
2012  149.808130
2013  181.359191
2014  169.320280
2015  200.223881
2016  248.945813
2017  300.121277

[66 rows x 1 columns]

## 6. Lego Themes Over Years
<p>Lego blocks ship under multiple <a href="https://shop.lego.com/en-US/Themes">themes</a>. Let us try to get a sense of how the number of themes shipped has varied over the years.</p>

In [127]:
# themes_by_year: Number of themes shipped by year
# -- YOUR CODE HERE --
themes_by_year = sets.groupby('year').aggregate({'theme_id':'nunique'})
themes_by_year

      theme_id
year
1950         2
1953         1
1954         2
1955         4
1956         3
1957         4
1958         3
1959         3
1960         3
1961         6
1962         4
1963         7
1964         7
1965         6
1966         9
1967        11
1968        11
1969        10
1970        15
1971        12
1972        12
1973        16
1974        14
1975        13
1976        22
1977        19
1978        23
1979        18
1980        27
1981        25
...        ...
1988        36
1989        33
1990        33
1991        39
1992        40
1993        39
1994        43
1995        47
1996        50
1997        54
1998        75
1999        71
2000        56
2001        64
2002        75
2003        80
2004        72
2005        65
2006        74
2007        78
2008        87
2009        89
2010        88
2011        78
2012        93
2013        93
2014        92
2015        99
2016        88
2017        78

[66 rows x 1 columns]

## 7. Wrapping It All Up!
<p>Lego blocks offer an unlimited amount of fun across ages. We explored some interesting trends around colors, parts, and themes. </p>

In [129]:
# Nothing to do here